{% extends "base_generic.html" %} 

{% block staticextra %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
{% endblock %}




{% block content %}
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
</header>
<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
        {% block map %}
        <div class="w3-third">
            <h5>Regions</h5>
            This is the hrwapp1_figure template. We have to generate some results!
            <br> The input1 is: {{input1}}
            <br> The figure will go here:

            <div id="figure1" style="width:100%; height:480px;">

                {{ div | safe }}

                {{ script | safe }}

            </div>


        </div>
        {% endblock %}

    </div>
</div>
{% endblock %}